a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/* header-sction */

header {
    display: flex;
    padding-bottom: 0px;
}

body {
    font-family: 'Roboto';
}

.header-logo-page {
    display: flex;

}

.page {
    margin-left: 93px;
    display: flex;
    align-items: center;
}

.container {
    width: 1200px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

header .container {
    display: flex;
    align-items: center;
}

.adress {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000305;
    justify-content: center;

}

.logo-color {
    color: #2196F3
}

.header-page {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
    justify-content: center;
    margin-right: 54px;
}

.header-link {
    font-weight: 400;
    width: 122px;
    justify-content: center;
    color: #757575;
}

.header-link:hover {
    font-weight: 400;
    width: 122px;
    justify-content: center;
    color: #2196F3;
}

.header-page:hover {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #2196F3;
    justify-content: center;
    margin-left: 93;
    margin-right: 94px;
}

header {
    width: 100%;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 2;
    padding-top: 24px;
    padding-bottom: 25px;
}

.adress-item:last-child {
    margin-left: 50px;
}

/* .hero-section */

.hero-windo {
    height: 581px;
    width: 528px;
    left: 536px;
    top: 221px;
    border-radius: 4px;

}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;


}

.hero-section {
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
}



.hero-button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    color: #FFFFFF;
    background: #2196F3;
    padding: 10px 24px;
}

/*Модальне вікно */
.modal {
    height: 581px;
    width: 528px;
    background-color: #FFFFFF;
    position: absolute;
    top: 15%;
    left: 35%;
}

.modal-iteam {
    margin-left: 468px;
    margin-top: 8px;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal-svg:hover{
fill: #2196F3;
}

.input-modal-two {
    height: 120px;
    width: 448px;
}

.modal-title {
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.modal-button {
    margin-top: 84px;
    margin-bottom: 50px;
    width: 200px;
    height: 50px;
    background: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.modal-list {
    padding-left: 40px;
}

.modal-text-two {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #757575;
}

.bacdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    ;
}

.modal-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* .benefits-section */

.benefits-text {

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #757575;

    border-radius: nullpx;
}

.benefits-item {
    width: 270px;
    margin-left: 30px;
}

.benefits-item::before {
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}

.benefits-item:nth-child(1)::before {
    background-image: url("../../images/antenna\ 1.png");
}

.benefits-item::before {
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}

.benefits-item::before {
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}

.benefits-item:nth-child(3)::before {
    background-image: url("../../images/diagram\ 1.png");
}

.benefits-item:nth-child(2)::before {
    background-image: url("../../images/clock\ 1.png")
}

.benefits-item:nth-child(4)::before {
    background-image: url("../../images/astronaut\ 1.png")
}

.benefits-item::before {
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}

.benefits-item:first-child {
    margin-left: 0;
}

.benefits-screenshot:last-child {
    padding-left: 215px;
    padding-right: 30px;
}

.benefits-screenshot {
    padding-left: 30px;
    padding-right: 215px;
}

.benefits-section {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits-title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;

    border-radius: nullpx;
}

.benefits {
    margin-top: 94px;
    display: flex;
}

.benefits-list {
    display: flex;
}

/* work-sction */
.work-section {
    padding-bottom: 94px;
}

.work-text {

    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;

    bottom: 1%;
    right: 0.1%;
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.work-item {
    position: relative;
    margin-right: 30px;
}

.work {
    position: relative;
    display: flex;
}

/* .team-section */

.team {
    display: flex;
}

.card-studio {
    font-weight: 500;
    color: #2196F3;
}

.team-svg {

    fill: #AFB1B8;
    display: flex;
}

.team-svg:hover{
    fill: #2196F3;
}

.team-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team-profession {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    justify-content: center;
}

.team-item {
    justify-content: center;
}

.team-item:first-child {
    margin-left: 0;
}

.team-item:first-child {
    margin-left: 0;
}

.team-text {
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    justify-content: center;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
}

.team-section {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex
}


.team-svg {
    margin-right: 33.97px;
}


/*clients-section*/

.clients-section {

    padding-top: 94px;
}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.clients {

    padding-bottom: 50px;
    padding-top: 94px;
    display: flex;
}


.clients-svg {
    fill: #AFB1B8;
    margin-right: 30px;

}

.clients-svg:hover{
fill: #2196F3;
}
.clients-iteam::before {
    content: "";
    width: 170px;
    height: 90px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E5E5E5;
    ;
}


.clients-iteam:nth-child(2)::before {
    background-image: url("../../images/logo\ 2.png")
}

.clients-iteam::before {
    content: "";
    width: 170px;
    height: 90px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E5E5E5;
    ;
}

.clients-iteam:nth-child(3)::before {
    background-image: url("../../images/Object.png")
}

.clients-iteam::before {
    content: "";
    width: 170px;
    height: 90px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E5E5E5;
    ;
}


.clients-iteam:nth-child(4)::before {
    background-image: url("../../images/logo\ 4.png")
}

.clients-iteam::before {
    content: "";
    width: 170px;
    height: 90px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E5E5E5;
    ;
}


.clients-iteam:nth-child(5)::before {
    background-image: url("../../images/logo\ 5.png")
}

.clients-iteam::before {
    content: "";
    width: 170px;
    height: 90px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E5E5E5;
    ;
}


.clients-iteam:nth-child(6)::before {
    background-image: url("../../images/Object-1.png")
}

.clients-iteam::before {
    content: "";
    width: 170px;
    height: 90px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E5E5E5;
    ;
}

.clients-iteam {
    margin-right: 30px;
}

/* end-section */
.end-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background: #2F303A;

}

.end-list {
    margin-top: 9px;
    margin-bottom: 9px;
}

.end-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
}

.end {
    padding-top: 9px;
}

.end-adrees {
    margin-bottom: 9px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.end-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #757575;
}

.end-link:hover {
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #2196F3;
}



.footer-adrees {
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}


.Foter-colorlogo {
    font-family: 'Raleway';
    font-weight: 700;
    color: #2196F3;
}

.portfolio-conteiner {
    align-items: center;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.hero-portfolio {
    display: flex;
    justify-content: center;
}

.portfolio-button {
    margin-right: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.hero-portfolio {
    padding-bottom: 50px;
    padding-top: 94px;
}

.portfolio-button:hover {
    background-color: #2196F3;
    color: #FFFFFF
}

.work-portfolio-text {
    margin-top: 20px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}



.work-portfolio-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

.header-container {
    display: flex;
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



.iteam-portfolio {
    margin-right: 30px;
    margin-bottom: 30px;
}

.iteam-portfolio:nth-child(3n) {
    margin-right: 0;
}

.work-portfolio-sectoin {
    padding-bottom: 94px;
}

.card-decrption {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    border: 1px solid #EEEEEE;
}

.work-portfolio {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}