
/* header-sction */
/* .hero-section */
/*Модальне вікно */
/* .benefits-section */
/* work-sction */
/* .team-section */
/*clients-section*/
/* end-section */

.portfolio-conteiner {
    align-items: center;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.hero-portfolio {
    display: flex;
    justify-content: center;
}

.portfolio-button {
    margin-right: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    transition: opacity 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms
}

.hero-portfolio {
    padding-bottom: 50px;
    padding-top: 94px;
}

.portfolio-button:hover {

    background-color: #2196F3;
    color: #FFFFFF
}

.work-portfolio-text {
    margin-top: 20px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.work-portfolio-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}


.header-container {
    display: flex;
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.iteam-portfolio {
    margin-right: 30px;
    margin-bottom: 30px;
}

.iteam-portfolio:nth-child(3n) {
    margin-right: 0;
}

.card-decrption {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    border: 1px solid #EEEEEE;
}

.work-portfolio {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.portfolio-hover-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.portfolio-hover{
    position: absolute;
    top: 0;

    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
}

.portfolio-article:hover .portfolio-hover{
    opacity: 1;
}

.portfolio-article{
    overflow: hidden;
    position: relative;
}

.work-portfolio-hover {
    overflow: hidden;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}