.benefits-text {

    @media screen and (min-width: 480px){
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
    }

    @media screen and (min-width: 768px){


    }

    @media screen and (min-width: 1200px){
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
    }
}

.benefits-title {

    @media screen and (min-width: 480px){
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
    }

    @media screen and (min-width: 768px){
        width: 138.62px;
        height: 15.01px;
        left: 15.19px;
        top: 690.44px;

    }

    @media screen and (min-width: 1200px){
        margin-top: 30px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
    
        border-radius: nullpx;
    }
}

.benefits-item {
    @media screen and (min-width: 480px){
        width: 270px;
    }

    @media screen and (min-width: 768px){
        width: 270px;
        
    }

    @media screen and (min-width: 1200px){
        
        margin-left: 30px;
    }

}

.benefits-item::before {
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}

.benefits-item:nth-child(1)::before {
    background-image: url("../../images/antenna\ 1.png");
}

.benefits-item::before {
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}

.benefits-item::before {
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}

.benefits-item:nth-child(3)::before {
    background-image: url("../../images/diagram\ 1.png");
}

.benefits-item:nth-child(2)::before {
    background-image: url("../../images/clock\ 1.png");
}

.benefits-item:nth-child(4)::before {
    background-image: url("../../images/astronaut\ 1.png")
}

.benefits-item::before {
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}

.benefits-section {

    @media screen and (min-width: 480px){

    }

    @media screen and (min-width: 768px){

    }

    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.benefits-list:nth-child(2n){

    @media screen and (min-width: 768px){
        display:flex;
        flex-wrap: wrap
    }


}

.benefits-list {
    
    @media screen and (min-width: 480px){

    }

    @media screen and (min-width: 768px){
margin-left: 15px;
    }
    @media screen and (min-width: 1200px){
        display: flex;
    }
}