.end-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;


}

.end-list {
    margin-top: 9px;
    margin-bottom: 9px;
}

.end-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
}

.mailinglist {


    @media screen and (min-width: 480px){
justify-content: center;
    }

    @media screen and (min-width: 768px){

    }

    @media screen and (min-width: 1200px){
        padding-left: 200px;
    }
}

.end {
    padding-top: 9px;
}

.end-adrees {
    margin-bottom: 9px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.end-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #757575;
}

.end-link:hover {
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.sing-up-svg {
    fill: #FFFFFF;
}

.footer-adrees {
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.sign-up-text {
    width: 205.36px;
    height: 12.54px;
    color: #FFFFFF;
}

.sign-up-email {
    margin-top: 38.55px;
    color: rgba(255, 255, 255, 0.6);
}

.sign-up-item {
    margin-right: 12px;
    outline: rgba(255, 255, 255, 0.3);
    margin-bottom: 20.55px;
}

.sign-up-buttom {
    width: 103.15px;
    height: 35.67px;
    background: #2196F3;
    color: #FFFFFF;
}

.Foter-colorlogo {
    font-family: 'Raleway';
    font-weight: 700;
    color: #2196F3;
}