.team {
    gap:30px;
    justify-content: center;
        display: flex;
        flex-wrap: wrap;
        
}

.team-item{
    text-align: center;
    @media screen and (min-width: 480px){
        width: 450px;
    }

    @media screen and (min-width: 768px){
        width: 354px;
    }

    @media screen and (min-width: 1200px){
        width: 270px;
    }
}
.card-studio {
    font-weight: 500;
    color: #2196F3;
}

.team-socials-list {
        fill: #AFB1B8;
        display: flex;
        justify-content: center;
gap: 10px;

}

.team-socials-list:hover {
    fill: #2196F3;
}

.team-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
}

.team-profession {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        justify-content: center;
}



.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        text-align: center;
        margin-bottom: 50px;

}

.team-photo{
    @media screen and (min-width: 480px){
        width: 450px;
    }   
}

.team-section {
    background: #F5F4FA;
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
