.work-portfolio-text {
    margin-top: 20px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.work-portfolio-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

.work-portfolio {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.work-portfolio-hover {
    overflow: hidden;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.portfolio-article{
    overflow: hidden;
    position: relative;
}

.portfolio-article:hover .portfolio-hover{
    opacity: 1;
}

.portfolio-hover{
    position: absolute;
    top: 0;

    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
}


.portfolio-hover-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}


.iteam-portfolio {
    margin-right: 30px;
    margin-bottom: 30px;
}

.iteam-portfolio:nth-child(3n) {
    margin-right: 0;
}
.card-decrption {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    border: 1px solid #EEEEEE;
}


